<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passion Outdoor</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/trail">Trail</a>
        <a href="/velo">Velo</a>
        <a href="/triathlon">Triathlon</a>
        <a href="/rando">Rando</a>
        <a href="/skiderando">Ski de Rando</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    {{{body}}}
</body>
</html>