<h1>Bienvenue sur Passion Outdoor Triathlon</h1>
<p>On va parler ici des meilleurs triathlon à faire</p>
<section>
    <div>
        <h3>En France</h3>
    </div>
    <div>
        <h3>à l'Etranger</h3>
        <p>En Europe</p>
        <p>Far away</p>
    </div>
</section>
<section>
    <h3>Articles</h3>
    <p>Nos artricles les plus récents</p>
</section>
<section>
    <p>télétravailler en stage triathlon</p>
</section>